<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregá una pelicula</title>
</head>
<body>
    <form method="POST" action="/add">
        <Fieldset>
            <legend>
                <h2>Agregá una pelicula</h2>
            </legend>
            <h4>Titulo</h4>
            <% if (locals.errors && locals.errors.title) {%>
            <p class="feedback" style="color:Tomato;"><%= locals.errors.title.msg %></p>
            <% } %>
            <input type="text" id="title" name="title" value="<%= locals.data && data.title%>">
            <h4>Puntaje</h4>
            <% if (locals.errors && locals.errors.rating) {%>
                <p class="feedback" style="color:Tomato;"><%= locals.errors.rating.msg %></p>
            <% } %>
            <input type="number" id="rating" name="rating" value="<%= locals.data && data.rating%>">
            <h4>Premios</h4>
            <% if (locals.errors && locals.errors.awards) {%>
                <p class="feedback" style="color:Tomato;"><%= locals.errors.awards.msg %></p>
            <% } %>
            <input type="number" id="awards" name="awards" value="<%= locals.data && data.awards%>">
            <h4>Fecha de estreno</h4>
            <% if (locals.errors && locals.errors.release_date) {%>
                <p class="feedback" style="color:Tomato;"><%= locals.errors.release_date.msg %></p>
            <% } %>
            <input type="date" id="release_date" name="release_date" value="<%= locals.data && data.release_date%>">
            <h4>Duracion</h4>
            <% if (locals.errors && locals.errors.length) {%>
                <p class="feedback" style="color:Tomato;"><%= locals.errors.length.msg %></p>
            <% } %>
            <input type="number" id="length" name="length" value="<%= locals.data && data.length%>">
        </Fieldset>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar progreso</button>
    </form>
    <a href="/">Volver</a>
</body>
</html>