<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando pelicula <%= movies.title %></title>
</head>
<body>
    <form method="POST" action="/edit/<%=movies.id%>?m=PUT">
        <Fieldset>
            <legend>
                <h2>Editando pelicula <%= movies.title%></h2>
            </legend>
            <legend>Titulo</legend>
            <% if (locals.errors && locals.errors.title) {%>
                <p class="feedback"><%= locals.errors.title.msg %></p>
            <% } %>
            <input type="text" id="title" name="title" <% if (locals.data && data.title) { %>
                value="<%= data.title %>"
                <% } else { %>
                value="<%= movies.title %>"
                <% } %>
            >
            <legend>Puntaje</legend>
            <% if (locals.errors && locals.errors.rating) {%>
                <p class="feedback"><%= locals.errors.rating.msg %></p>
            <% } %>
            <input type="number" id="rating" name="rating"<% if (locals.data && data.rating) { %>
                value="<%= data.rating %>"
                <% } else { %>
                value="<%= movies.rating %>"
                <% } %>
            >
            <legend>Premios</legend>
            <% if (locals.errors && locals.errors.awards) {%>
                <p class="feedback"><%= locals.errors.awards.msg %></p>
            <% } %>
            <input type="number" id="awards" name="awards"<% if (locals.data && data.awards) { %>
                value="<%= data.awards %>"
                <% } else { %>
                value="<%= movies.awards %>"
                <% } %>
            >
            <legend>Fecha de estreno</legend>
            <% if (locals.errors && locals.errors.release_date) {%>
                <p class="feedback"><%= locals.errors.release_date.msg %></p>
            <% } %>
            <input type="date" id="release_date" name="release_date"<% if (locals.data && data.release_date) { %>
                value="<%= data.release_date %>"
                <% } else { %>
                value="<%= movies.release_date %>"
                <% } %>
            >
            <legend>Duracion</legend>
            <% if (locals.errors && locals.errors.length) {%>
                <p class="feedback"><%= locals.errors.length.msg %></p>
            <% } %>
            <input type="number" id="length" name="length"<% if (locals.data && data.length) { %>
                value="<%= data.length %>"
                <% } else { %>
                value="<%= movies.length %>"
                <% } %>
            >
        </Fieldset>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar progreso</button>
    </form>
    <a href="/detail/<%=movies.id%>">Volver</a>
</body>
</html>