<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando pelicula <%= movies.title %></title>
</head>
<body>
    <h1>Editando pelicula <%= movies.title%></h1>
    <form method="POST" action="/edit/<%=movies.id%>">
        <Fieldset>
            <legend>Titulo</legend>
            <input type="text" id="title" name="title" value="<%= movies.title%>" required>
            <legend>Puntaje</legend>
            <input type="number" id="rating" name="rating" value="<%= movies.rating%>" required>
            <legend>Premios</legend>
            <input type="number" id="awards" name="awards" value="<%= movies.awards%>" required>
            <legend>Fecha de estreno</legend>
            <input type="date" id="release_date" name="release_date" value="<%= movies.release_date%>" required>
            <legend>Duracion</legend>
            <input type="number" id="length" name="length" value="<%= movies.length%>">
        </Fieldset>

        <button type="submit">Enviar</button>
        <button type="reset">Borrar progreso</button>
    </form>
    <a href="/<%=movies.id%>">Volver</a>
</body>
</html>