<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")  %>
    <title>Login</title>
</head>
<body>
    <main>
        <h1 id="welcome-login">Te damos la bienvenida :)</h1>
        <div id="login">
            <img src="../img/logo-DH.png" alt="DigitalHouse" id="logoDH">
            <form action="/users/login" method="POST">
                <fieldset>
                    <h2 id="login-title">Login</h2>
                    <h4>Email:</h4>
                    <% if (locals.errors && locals.errors.email) {%>
                        <p class="feedback">
                            <%= locals.errors.email.msg %>
                        </p>
                    <% } %>
                    <input type="text" name="email" id="email"
                        value="<%= locals.errors && !locals.errors.email && locals.data.email ? locals.data.email : null %>"
                    >
                    <h4>Contraseña:</h4>
                    <% if (locals.errors && locals.errors.password) {%>
                        <p class="feedback">
                            <%= locals.errors.password.msg %>
                        </p>
                    <% } %>
                    <input type="password" name="password" id="password"
                        value="<%= locals.errors && !locals.errors.password && locals.data.password ? locals.data.password : null %>"
                    >
                    <a href="https://media.tenor.com/uLncpzQNreUAAAAC/vale-verga-a-mi-me-vale-verga.gif" id="olvidasteTuContrasenia">¿Olvidaste tu Contraseña?</a>
                </fieldset>
                <fieldset>
                    <button type="submit">Enviar</button>
                </fieldset>
            </form>
            <a href="/" class="volver" title="Home"><i class="fa-solid fa-house"></i></a>
            <a href="https://www.digitalhouse.com/ar" class="digitalHouse"><img src="../img/digitalHouse.svg" alt="DigitalHouse"></a>
            <nav>
                <a href="https://www.youtube.com/watch?v=eBGIQ7ZuuiU" id="terminosYCondiciones">Terminos y Condiciones</a>
                <a href="https://www.youtube.com/watch?v=05dT34hGRdg" id="politicaDePrivacidad">Política de Privacidad</a>
            </nav>
        </div>
    </main>
</body>
</html>